<!DOCTYPE html>

<html>

<head>
    <link rel = 'stylesheet' href = "/css/styles.css">
</head>

<body>
     {{>header}}
     <p>This site was created by Tanjeem Rhyne</p>
    <img src ={{image}}>
    {{>footer}}
</body>

</html>
